# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations
*.db
*.db-journal

# Testing
coverage
.nyc_output

# Logs
logs
*.log

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Documentation
README.md
*.md

# Git
.git
.gitignore

# Test files
test
*.spec.ts
*.e2e-spec.ts
jest-e2e.json
